{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tekken Social Media Webapp</title>
    {% tailwind_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/images/logo.png">
</head>
<body>
    <div id = "app"></div>
    <script src = '{% static "frontend/main.js" %}'></script>
</body>
</html>